# This workflow will build TurboWarp, clone online assets and extentions to run offline. 

name: Localize TurboWarp

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
        env:
          NODE_ENV: 'production'
      - run: pwd && ls
